* {
  padding: 0px;
  margin: 0px;
}

.routes {
  position: absolute;
  height: 100%;
  width: 100%;
}

.page-cloud-bg {
  background-image: url("./images/clouds.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #cccccc;
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  margin-top: 2rem;
}

.page-about-bg {
  background-image: url("./images/workspace.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  margin-top: 2rem;
}

.page-coconut-bg {
  background-size: cover;
  background-color: #353535;
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  margin-top: 2rem;
}

/*.about-header {
  padding-bottom: 110px;
}*/

/*.hello {
  padding-bottom: 70px;
}*/

.menu {
  position: sticky;
  top: 0;
}

.font-link {
  font-family: "Montserrat", sans-serif;
}

#big-ass-name {
  margin-left: 1rem;
}

#welcome-wrapper {
  background-color: #edae49;
  padding-top: 0.46rem;
  /*width: 60vw;*/
  width: 13em;
}

.projects-header-wrapper {
  background-color: #c38d94;

  width: 9rem;
}

.projects-header-wrapper h1 {
  color: #353535;
}

.card-width {
  max-width: 35rem;
}

img {
  cursor: pointer;
}

/* Galaxy Fold */
@media (min-width: 280px) {
  .home-text {
    font-size: 14px;
    font-weight: bold;
  }

  .nav-text {
    font-size: 0.7em;
  }
}
@media (max-width: 600px) {
  .about-section-level {
    font-size: 9px;
  }
}

/* iPad */
@media (min-width: 768px) {
  .home-text {
    font-size: 16px;
    font-weight: bold;
  }

  .nav-text {
    font-size: 1em;
  }

  #welcome-wrapper {
    background-color: #edae49;
    padding-top: 0.46rem;
    /*width: 60vw;*/
    width: 19rem;
  }

  .projects-header-wrapper {
    width: 11rem;
  }
}

/* iPad Pro */
@media (min-width: 1024px) {
  .home-text {
    font-size: 18px;
    font-weight: bold;
  }

  .nav-text {
    font-size: 1em;
  }

  #welcome-wrapper {
    background-color: #edae49;
    padding-top: 0.46rem;
    /*width: 60vw;*/
    width: 19rem;
  }

  .projects-header-wrapper {
    width: 12rem;
  }
}

/**/

/* Laptop 1440 */
@media (min-width: 1440px) {
  .home-text {
    font-size: 20px;
    font-weight: bold;
  }

  .nav-text {
    font-size: 1em;
  }

  #welcome-wrapper {
    background-color: #edae49;
    padding-top: 0.46rem;
    /*width: 60vw;*/
    width: 20rem;
  }
}
